[Unit]
Description=IML Update Checker

[Service]
ExecStart=/usr/bin/iml-update-check
EnvironmentFile=/etc/iml/manager-url.conf
Environment=IML_CERT_PATH=/etc/iml/self.crt IML_PRIVATE_KEY_PATH=/etc/iml/private.pem
RestartSec=5min
Restart=on-failure
