[Unit]
Description=IML Update Handler
RefuseManualStart=true
BindsTo=iml-update-handler.socket

[Service]
ExecStart=/usr/bin/node /usr/libexec/iml-update-handler.js
Restart=always
StandardOutput=journal
StandardError=journal
User=nobody
Group=nobody
EnvironmentFile=/var/lib/chroma/iml-settings.conf 
Environment=NODE_PATH=/usr/lib/node_modules
Environment=IML_CA_PATH=/var/lib/chroma/authority.crt
