[Unit]
Description=IML Update Handler Socket
PartOf=iml-manager.target

[Socket]
ListenStream=/var/run/iml-update-handler.sock
RemoveOnStop=true

[Install]
WantedBy=iml-manager.target
