[Unit]
Description=IML Software Update Check timer
PartOf=iml-storage-server.target
After=network.target

[Timer]
OnCalendar=daily
AccuracySec=6h

[Install]
WantedBy=timers.target
WantedBy=iml-storage-server.target
